body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', serif;
}

.background{
    background: rgb(84,84,91);
    background: linear-gradient(150deg, rgba(84,84,91,1) 0%, rgba(28,26,33,1) 70%);
    height: 524px;
}

